<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.domain.repository.HogeMapper">

    <select id="selectHoge" resultType="map">
        SELECT
			id,
			name
        FROM
            hoge
    </select>
    
    <select id="selectBuildings" resultType="com.example.demo.domain.model.entity.BuildingEntity">
        SELECT
			building_id,
			building_name,
			building_detail
        FROM
            building
    </select>
    
    <select id="selectRooms" resultType="map">
        SELECT
			room_id,
			room_name
        FROM
            room
    </select>
    
    <select id="selectBuildings2" resultType="com.example.demo.domain.model.entity.BuildingEntity" parameterType="com.example.demo.domain.model.entity.BuildingEntity">
        SELECT
			building_id,
			building_name,
			building_detail
        FROM
            building            
        <where>
            <if test="#{buildingId} != null">
                building_id = #{buildingId}
      		</if>
            <if test="buildingName != null">
                and building_name = #{buildingName}
      		</if>
      		<if test="buildingDetail != null">
                and building_detail = #{buildingDetail}
      		</if>
        </where>
    </select>
</mapper>