<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.domain.repository.JoinedMapper">

    
    <select id="selectLeftJoin" resultType="com.example.demo.domain.model.entity.JoinedEntity">
        SELECT
			A.id,
			A.name,
			A.explanation,
			B.building_name,
			B.building_detail,
			C.room_name,
			C.room_detail
        FROM
            hoge A
        LEFT JOIN 
        	building B
        ON 
        	A.id = B.id
        LEFT JOIN
        	room C
        ON
        	A.id = C.id
    </select>
    
</mapper>