<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.domain.repository.JoinedMapper">

    
    <select id="selectLeftJoin" resultType="com.example.demo.domain.model.entity.JoinedEntity">
        SELECT
			id,
			building_name,
			building_detail
        FROM
            building
    </select>
    
</mapper>